doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/app.css')
  body
    nav(class='navbar navbar-inverse')
      div(class='container-fluid')
        button(type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1' aria-expanded='false')
          span(class='sr-only')='Toggle Navigation'
          span(class='icon-bar')
          span(class='icon-bar')
          span(class='icon-bar')
        a(class='navbar-brand' href='/')='Unicorn Comics'
        div(class='collapse navbar-collapse' id='bs-example-navbar-collapse-1')
          ul(class='nav navbar-nav')
            li
              a(href='/comics')='Comics'
            li
              a(href='/contributors')='Contributors'
          ul(class='nav navbar-nav navbar-right')
            if currentUser
              li(class='dropdown')
                a(href='#' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
                  =currentUser.username
                  span(class='caret')
                ul(class='dropdown-menu')
                  li
                    a(href='/comics/new')='Create a comic!'
                    a(href='#')='Log out'
            else
              li
                a(href='/signup')='Sign up!'
              li
                a(href='/users/login')='Log in!'
                
    block content

    script(src='https://code.jquery.com/jquery-2.2.0.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    script(src='/app/app.js')
