extends layout

block content
	h1= 'Comic: ' + comic.title
	h2= 'comicId: ' + comic.id
	
	br
	br
	
	h2= 'Contributors:'
	each user in users
		li=user.username
	
	br
	br
	
	form#inviteUser(name="inviteUser",method="post",action="/inviteUser")
		input(type="hidden" name="comicId" value=comic.id)
		input(type="hidden" name="comicTitle" value=comic.title)
		button#btnSubmit(type="submit") Invite user