extends ../layout

block content
  .page-header
    .col-sm-1
    h1 Profile Information
    h3 Basic Information
  form(class='form-horizontal', action='/users/update', method='POST')
    .form-group
      img.profile-img(src=user.profilePictureUrl)
    .form-group
      label.col-sm-2.control-label(for='username') Username
      .col-sm-4
        div.controls
          p #{user.username}
    .form-group
      label.col-sm-2.control-label(for='fullname') Fullname
      .col-sm-4
        div-controls
          p #{user.fullname}
    .form-group
      label.col-sm-2.control-label(for='email') Email
      .col-sm-4
        div.controls
          p #{user.email}
    .form-group
      label.col-sm-2.control-label(for='password') Password
      .col-sm-4
        div.controls
          p *****
    .form-group
      label.col-sm-2.control-label(for='location') Location
      .col-sm-4
        div-controls
          p #{user.location}
    .form-group
      label.col-sm-2.control-label(for='gender') Gender
      .col-sm-5
        div-controls
          -if(user.gender=='Male')
            p Male
          -if(user.gender=='Female')
            p Female
          -if(user.gender=='Other')
            p Other
    .form-group
      .col-sm-offset-2.col-sm-4
        a(href='/users/update', class='btn btn-info') Edit profile

    h3 Favourited Comics
    ul
    each savedComic in savedComics
      li
        a(href='/comics/#{savedComic.id}')= savedComic.title