extends ../layout

block content
  .page-header
    .col-sm-1
    h3 Profile Information
  -if(flash.usernameFail)
    .alert.alert-danger #{flash.usernameFail}
  -if(flash.updateSuccess)
    .alert.alert-success #{flash.updateSuccess}
  form(class='form-horizontal', action='/users/update', method='POST')
    .form-group
      label.col-sm-2.control-label(for='username') Username
      .col-sm-4
        div.controls
          input.form-control(type='text', name='username', placeholder='#{user.username}')
    .form-group
      label.col-sm-2.control-label(for='fullname') Fullname
      .col-sm-4
        div-controls
          input.form-control(type='text', name='fullname', placeholder='#{user.fullname}')
    .form-group
      label.col-sm-2.control-label(for='email') Email
      .col-sm-4
        div.controls
          input.form-control(type='text', name='useremail', placeholder='#{user.email}')
    .form-group
      label.col-sm-2.control-label(for='password') Password
      .col-sm-4
        div.controls
          input.form-control(type='password', name='userpassword', placeholder='*****')
    .form-group
      label.col-sm-2.control-label(for='location') Location
      .col-sm-4
        div-controls
          input.form-control(type='text', name='location', placeholder='#{user.location}')
    .form-group
      label.col-sm-2.control-label(for='gender') Gender
      .col-sm-5
        div-controls
          label.radio
            input(type='radio', checked=user.gender=='Male', name='gender', value='Male', data-toggle='radio')
            | Male
          label.radio
            input(type='radio', checked=user.gender=='Female', name='gender', value='Female', data-toggle='radio')
            | Female
          label.radio
            input(type='radio', checked=user.gender=='Other', name='gender', value='Other', data-toggle='radio')
            | Other
    .form-group
      .col-sm-offset-2.col-sm-4
        button.btn.btn.btn-primary(type='submit')
          i.fa.fa-magnet
          | Update Profile