if (users.length == 0)
    h3 No Results
else
  div.row
    div.col-sm-12
      div#users-list
        each user in users
          div.freewall-brick(data-user-name=user.username, data-user-id=user.id, data-user-email=user.email)
            img.hover-img(src=user.profile_picture_url)
            div.contenthover
              div.btn-group-vertical.center(role="group",aria-label="actions list")
                a.btn.btn-primary(href="mailto:#{user.email}") Email
                a.btn.btn-primary(href="/users/public-profile?username="+user.username) View Profile
                if currentUser && currentUser.username=="admin"
                  button.delete-user.btn.btn-danger(data-user-id=user.id) Delete
            div.info
              h4
                a.btn.btn-primary(href="/users/public-profile?username="+user.username)=  user.username
            
            
            
            
