extends ../layout

block content
  h1 Managing collaborators for: #{comic.title}

  p
    a(href=comic.editUrl, class='btn btn-info') Return to editing this comic

  style.
    messageText {
      font-size: 20px;
      color: #{messageColour}
    }

  messageText #{message}

  h2 Add a new collaborator!
  form#formAddUser(name="addContributorToComic", method="post", action="/addContributorToComic")
    input#inputUserName(type="hidden", name="comicId", value=comic.id)
    input#inputUserName(type="text", placeholder="username", name="username")
    button#btnSubmit(type="submit") submit

  h2 Current collaborators
  ul
    each user in collaborators
      li=user.username
