extends ../layout

block content
  h1='Editing: '+comic.title

  div
    div.btn-group
      a(class='btn btn-info' href=comic.url) Back to the comic!
      a(class='btn btn-info' href=comic.manageCollaboratorsUrl) Manage collaborators
      button#add-panel-btn.btn.btn-info(data-add-panel-url=comic.addPanelUrl) Add a new comic panel!
    br
    br

  div.info-boxes
    

  div.btn-group
    button#panel-collapse-all.btn.btn-default Collapse all panels!
    button#panel-show-all.btn.btn-default Show all panels!
    button#panel-reorder.btn.btn-warning(data-save-order-url=comic.savePanelsOrderUrl) Re-order panels!
  br
  br
  ul#panels-list.sortable-panels.comic.x-editor
    each panel, index in comic.comicPanels
      include ./panel.jade