extends ../layout

block content
  h1='Editing: '+comic.title

  p
    a(class='btn btn-info' href=comic.url) Back to the comic!
    a(class='btn btn-info' href=comic.manageCollaboratorsUrl) Manage collaborators

  ul(class='comic x-editor')
    each panel in comic.comicPanels
      li(class='-comicPanel')
        each bubble in panel.speechBubbles
          p(class='-speechBubble', style=bubble.inlineStyle, data-id=bubble.id) I'm not so sure about this, Rainbow.

        img(src=panel.backgroundImageUrl)
