extends ../layout

block content
  h1='Editing: '+comic.title

  p
    a(class='btn btn-info' href=comic.url) Back to the comic!
    br
    br
    a(class='btn btn-info' href=comic.manageCollaboratorsUrl) Manage collaborators
    form(method="post", action=comic.addPanelUrl)
      input.btn.btn-info.addSpeechBubble(type='submit', value='Add a new comic panel!')
    br
    br

  case status
    when "BGAllGood"
      div.alert.alert-success(role="alert") 
        strong Well done! 
        | Your background image was successfully replaced!
    when "BGRetry"
      div.alert.alert-danger(role="alert")
        strong Ooooooops! 
        | Your background image was not replaced due to server side problems! Please retry later...
    when "BGRemind"
      div.alert.alert-danger(role="alert")
        strong Ooooooops! 
        | Your background image was not replaced! Please check your upload file type, image size and url!
    when "PanelRetry"
      div.alert.alert-danger(role="alert")
        strong Ooooooops! 
        | Your new panel was not added! Please try again...
    when "PanelAdded"
      div.alert.alert-success(role="alert")
        strong Well done! 
        | Your new panel has been added!
    when "PanelDeleted"
      div.alert.alert-success(role="alert")
        strong Well done! 
        | Your old panel has been deleted!
    when "PanelNotDeleted"
      div.alert.alert-danger(role="alert")
        strong Ooooooops! 
        | Your old panel was not deleted! Please try again...

  ul(class='comic x-editor')
    each panel, index in comic.comicPanels
      li(class='-comicPanel')
        div.panel.panel-primary
          div.panel-heading
            if panel.title
              h3.panel-title=panel.title
            else
              h3.panel-title="Panel"+(index+1)
            
          div.panel-body
            each bubble in panel.speechBubbles
              blockquote(class='-speechBubble', style=bubble.inlineStyle, data-id=bubble.id, data-edit-url=bubble.editUrl)
                span(class='-text')=bubble.text
                a(class='-delete glyphicon glyphicon-trash', href='#', data-delete-url=bubble.deleteUrl)
                a(class='-edit glyphicon glyphicon-pencil', href='#')

            img(src=panel.backgroundImageUrl)
            div.panel-group
              div.panel.panel-default
                div.panel-heading
                  h4.panel-title
                    a.btn.btn-info(data-toggle="collapse", href='#edit-panel-'+index, aria-expanded="false" aria-controls="collapseExample") Edit this panel
                div(id='edit-panel-'+index, class="panel-collapse collapse")
                  div.panel-body
                    form(method='post', action=panel.speechBubblesUrl)
                      input.btn.btn-info.addSpeechBubble(type='submit', value='Add a speech bubble!')
                    br
                    form.bg-success(role='form' method='post', action=panel.replaceBgiUrl, enctype="multipart/form-data")
                      div.form-group
                        input(type='hidden', name="comicPanelId", value=panel.id)
                        label(for="panelTitle"+index) Replace your background image!
                        input.form-control(type="text" name="panelTitle", id="panelTitle"+index, placeholder="You may also give your panel a new name!" )
                        input(type="file", name="uploadImage")
                      button.btn.btn-warning.replaceBgi(type='submit') Replace now!
                    form(method="post", action=panel.deletePanelUrl)
                      input(type="hidden", name="comicId", value=comic.id)
                      br
                      input.btn.btn-danger(type='submit', value='Delete this panel!')
