extends ../layout

block content
  h1='Editing: '+comic.title

  div
    div.btn-group
      a(class='btn btn-info' href=comic.url) Back to the comic!
      a(class='btn btn-info' href=comic.manageCollaboratorsUrl) Manage collaborators
      button#add-panel-btn.btn.btn-info(data-add-panel-url=comic.addPanelUrl) Add a new comic panel!
    br
    br

  div.info-boxes
    case status
      when "BGAllGood"
        div.alert.alert-success(role="alert") 
          strong Well done! 
          | Your background image was successfully replaced!
      when "BGRetry"
        div.alert.alert-danger(role="alert")
          strong Ooooooops! 
          | Your background image was not replaced due to server side problems! Please retry later...
      when "BGRemind"
        div.alert.alert-danger(role="alert")
          strong Ooooooops! 
          | Your background image was not replaced! Please check your upload file type, image size and url!
      when "PanelRetry"
        div.alert.alert-danger(role="alert")
          strong Ooooooops! 
          | Your new panel was not added! Please try again...
      when "PanelAdded"
        div.alert.alert-success(role="alert")
          strong Well done! 
          | Your new panel has been added!
      when "PanelDeleted"
        div.alert.alert-success(role="alert")
          strong Well done! 
          | Your old panel has been deleted!
      when "PanelNotDeleted"
        div.alert.alert-danger(role="alert")
          strong Ooooooops! 
          | Your old panel was not deleted! Please try again...

  div.btn-group
    button#panel-collapse-all.btn.btn-default Collapse all panels!
    button#panel-show-all.btn.btn-default Show all panels!
    button#panel-reorder.btn.btn-warning(data-save-order-url=comic.savePanelsOrderUrl) Re-order panels!
  br
  br
  ul#panels-list.sortable-panels.comic.x-editor
    each panel, index in comic.comicPanels
      include ./panel.jade