extends ../layout

block content
  h1= 'Comic: ' + comic.title

  p
    a(href=comic.editUrl, class='btn btn-info') Edit this comic!

  ul(class='comic')
    each panel in comic.comicPanels
      li
        img(src=panel.backgroundImageUrl, class='-comicPanel')



  h2= 'Contributors to this comic'
  ul
    each user in users
      li=user.username
