extends ../layout

block content
  h1= 'Comic: ' + comic.title

  if isContributor==true
    p
      a(href=comic.editUrl, class='btn btn-info') Edit this comic!
  else
    p Contact one of the contributors for an invite to edit this comic!

  ul(class='comic')
    each panel in comic.comicPanels
      li(class='-comicPanel')
        each bubble in panel.speechBubbles
          blockquote(class='-speechBubble', style=bubble.inlineStyle, data-id=bubble.id)
            span(class='-text')=bubble.text
        img(src=panel.backgroundImageUrl)


  h2= 'Contributors to this comic'
  ul
    each user in users
      li=user.username
