extends ../layout

block content
  h1= 'Comic: ' + comic.title

  -if(flash.alreadySaved)
    .alert.alert-info #{flash.alreadySaved}
  -if(flash.alreadyUnfavourited)
    .alert.alert-info #{flash.alreadyUnfavourited}
  -if(flash.favouriteSuccess)
    .alert.alert-success #{flash.favouriteSuccess}
  -if(flash.unfavouriteSuccess)
    .alert.alert-success #{flash.unfavouriteSuccess}

  if isContributor
    p
      a(href=comic.editUrl, class='btn btn-info') Edit this comic!
  else if isLoggedIn
    p You're not an editor on this comic.
      form(action=comic.requestAccessUrl, method='POST')
        button#btnSubmit(type="submit" class='btn btn-info') Request access!

  ul(class='comic')
    each panel in comic.comicPanels
      li(class='-comicPanel')
        each bubble in panel.speechBubbles
          blockquote(class='-speechBubble', style=bubble.inlineStyle, data-id=bubble.id)
            span(class='-text')=bubble.text
        img(src=panel.backgroundImageUrl)

  if isLoggedIn
    p
      a(href=comic.favouriteUrl, class='btn btn-info') Favourite this comic!
      a(href=comic.unfavouriteUrl, class='btn btn-info') Unfavourite this comic!

  h2= 'Contributors to this comic'
  ul
    each user in users
      li=user.username
